etc/output_compito3.xsd

<?xml version="1.1" encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="compito3">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="osservazioneLineare" type="xs:string" />
            <xs:element name="diagnosi" type="xs:string" />
            <xs:element name="commento" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
  </xs:element>
</xs:schema>